table.docutils {
    border: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-top: 20px;
    margin-bottom: 20px;
}

table.docutils td, table.docutils th {
    border: 0px;
}

dl.field-list > dt {
    flex-basis: 10%;  /* default: 20%  */
    min-width: 100px; /* required in case window width is too small */
}

dl.field-list > dd {
    flex-basis: 85%;  /* default: 70%  */
}
